* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(216, 215, 215);
    max-width: 600px;
    margin: auto;
}

#header, .section {
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 15px;
    margin-top: 50px;
    border-radius: 10px;
}

#header h1 {
    margin-bottom: 15px;
}

.section {
    text-align: start;
    margin-top: 20px;
}

#cadastro {
    padding: 10px;
}

input, textarea {
    display: block;
    margin-bottom: 15px;
    width: 70%;
}

label [type = radio] {
    display: inline;
    margin-top: 15px;
    width: 2%;
    border: 1px solid black;
}

.button {
    margin: auto;
    text-align: center;
}

button {
    padding: 10px;
    border: 1px solid white;
    background-color: green;
    width: 50%;
    color: white;
    border-radius: 10px;
    margin-top: 15px;
}

button:hover{
    border: 3px solid green;
    background-color: white;
    color: green;
}
